*{
	background-color: black;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 800px;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 15vw;
  width: 70%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slideshow-image.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}